//====IMPORTS====
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//=======COLORS=====
$main-color: whitesmoke;
$secondary-color: #023e8a;
$font-color: #003049;
$shadow-color: rgba(0, 165, 194, 0.274);
$blue-shadow: 5px 5px 10px $shadow-color;
$alert-color: rgb(235, 160, 20);

//=======FONTS=====
$title-font: 'Bebas Neue', cursive; 
$text-font: 'Red Hat Display', sans-serif;
