//mobile letter sizing 
$medium-title: 3rem;
$big-title: 10rem;
$h3-title: 2.2rem;
$text-size-mobile: 1.3rem;
$small-text-size: 1rem;

//ipad letter sizing
$h3-title-ipad: 2.5rem;
$text-size-ipad: 1.5rem;
$small-text-ipad: 1rem;



//mobile breakpoints
$size-between-elements-tiny: .8rem;
$size-between-elements-small: 3rem;
$size-between-elements-medium: 4rem;
$size-between-elements-large: 5rem;
$size-between-elements-giant: 6.5rem;
$ninety-percent: 90%;
$five-hundred-px: 700px;


//media queires
$ipad: 600px;