@import "colors-fonts";
@import "sizes-and-breackpoints";
@import "reset-body-globals";
@import 'animations';


@media screen and (min-width: $ipad)
{
    .svg-wrapper
    {
        display: inline-block;
        width: $ninety-percent;
        max-width: $five-hundred-px;
        margin: $size-between-elements-small auto;
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    .first-svg-wrapper, .second-svg-wrapper
    {
        width: 49%;
        margin: 0;
        height: 400px;
    }
        .standard-svg
        {
          position: relative;
          display: block;
          stroke: $main-color;
          fill: $main-color;
          margin: 0 auto;
          padding: $size-between-elements-small 0 $size-between-elements-tiny;
          width: 7rem;
        }
    }   
    .second-wrapper-index-article
        {
        @include standard-parragraph
        {
        font-size: $text-size-ipad;
        }
        }

        .alert
        {
            .standard-parragraph
            {
            font-size: $text-size-ipad;
            }
        }
    .fourth-wrapper-index
    {
        .standard-parragraph
        {
        font-size: $text-size-ipad;
        }
    }

    //resets
.standard-h3
{
  font-size: $h3-title-ipad;
}
.standard-parragraph
{
    font-size: $text-size-ipad;
}
}