<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACC | BELIEVES</title>
     <link rel="stylesheet" href="css/main.css">
</head>
<body>
    {{>menu}}
    <div class="first-wrapper-about-major">
     <div class="menu-closed" onclick="openIt(this)"><div class="menu"></div></div>
    <h3 class="standard-h3 believes">WHAT WE BELIEVE</h3>

    <div class="first-wrapper-about">
    <p class="standard-parragraph">
        First Apostolic Church of Cleveland is a church striving to become a 21st Century Apostolic Church. We are founded upon the belief that the Bible is the inspired, infallible Word of God. <br><br>
        <strong>We believe </strong>in the great commission and are endeavoring to share the Gospel of Jesus Christ with love, mercy and compassion. <br><br>

        <strong>We believe </strong>there is only one God (Deuteronomy 6:4). He is the creator of heaven and earth, and of all living beings. He has revealed Himself to humanity as the Father (Creator), as the Son (Savior), and as the Holy Ghost (indwelling Spirit in the church today). <br><br>

        <strong>We believe </strong>in water baptism by immersion in the Name of the Lord Jesus Christ for the remission of sin. Through baptism we identify with the death, burial and resurrection of Jesus Christ (Romans 6:3-6, Colossians 2:11-14, Acts 2:38). <br><br>

        <strong>We believe </strong>in the Baptism of the Holy Spirit with the initial sign of speaking in other tongues (Acts 2:4). <br><br>

        <strong>We believe </strong>in the manifestation of the gifts of the Holy Spirit. He ministers to His people through tongues, interpretation of tongues, prophecy; words of knowledge and wisdom, discerning of spirits, faith, working of miracles, healing, helps and government (Mark 16:15-18, Acts 5:16, 2 Corinthians 12:1-11).
    </p>
</div>
    </div>
    {{>footer}}
     <div class="my-info">Designed by <a href="https://www.instagram.com/xharccoal/">Xharcoal 💻 ©️</a></div>
    {{!-- <script src="js/main.js"></script> --}}
</body>
</html>