<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACC | GIVE</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
     {{>menu}}
    <div class="first-wrapper-give">
    <div class="menu-closed" onclick="openIt(this)"><div class="menu"></div></div>
    <h3 class="standard-h3">THANK YOU FOR YOUR DONATION</h3>
     <p class="standard-parragraph">
        We currently are working in integrating mobile giving. Until then you can 
        continue to give personally. For more information about giving please contact us.
    </p>
    <img src="images/mobile-payment.jpg" alt="Mobile payment vector">
    </div>
    {{>footer}}
    <div class="my-info">Designed by <a href="https://www.instagram.com/xharccoal/">Xharcoal 💻 ©️</a></div>
{{!-- <script src="js/main.js"></script> --}}
</body>
</html>